body{
    background-image: url("bg4.jpg");
    background-size: auto;
    background-position: center;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 50px;
    padding-bottom: 150px;
    
}

 
